docker-compose.yml
Dockerfile

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example
.env
demo_frontend/.env


# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
*.log
*.pot
*.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Django specific
backend/db.sqlite3
backend/media/
backend/staticfiles/

# ===============================
# React / Node
# ===============================
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.cache/

# ===============================
# VS Code / IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Docker
# ===============================
*.pid
*.seed
*.pid.lock

# ===============================
# Testing / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Misc
# ===============================
*.swp
